<nav class="navbar is-transparent is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">ufhtnmMIS</a>
    </div>
    <div class="navbar-menu">
        <a href="/" class="navbar-item">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Ubat SRQ</a>
            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item">Rekod Penggunaan Ubat</a>
                <a class="navbar-item">Lihat Rekod Penggunaan Ubat</a>
                <a class="navbar-item">Cari Maklumat Penggunaan Ubat</a>
            </div>
        </div>
    </div>
</nav>